
    .main-header{
        position: fixed;
        top: 0;
        z-index: 999;
        margin: 0 auto; 
        left:0px; 
        right:0px;
    }
    .main-content{
        margin-top: 57px;
    }
//    .main-footer{
//    position: fixed;
//    margin: 0 auto; 
//    left:0px; 
//    right:0px;
//    bottom: 0;
//    width: 100%;
//    z-index: 999;
//    }
