<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Local</th>
        <th>Resultado</th>
        <th>Visitante</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td>Boca</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Boca</td>
          <td>-</td>
          <td>Gimnasia</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
        <tr>
          <td>Gimnasia</td>
          <td>-</td>
          <td>River</td>
        </tr>
      </tbody>
  </table>
</div>
