#homeFixed {
    padding-top: 5px;
    margin: auto;
    border-right: 2px solid black !important;
    border-left: 2px solid black !important;
}

#homeScroll {
    margin: auto;
    height: 700px;
    border-bottom: 2px solid black !important;
    border-right: 2px solid black !important;
    border-left: 2px solid black !important;
}

#lastNewContainer {
    width: 710px;
}

#imgContainer {
    width: 100%;
    height: 410px;
}

#headlineContainer {
    position: relative;
    text-align: left;
    left: 15px;
    top: 30px;
}

#headline {
    padding: 3px;
    background: rgb(3, 59, 3);
    opacity: 0.6;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#titleContainer {
    position: relative;
    text-align: center;
    top: -60px;
}

#articleTitle {
    background: rgb(0, 0, 0);
    opacity: 0.5;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#textContainer {
    padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px dashed;
}

li {
    float: left;
}

li p {
    display: block;
    color: black;
    text-align: center;
    padding-top: 3px;
    padding-left: 6px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.tabActive {
    cursor: pointer;
    text-decoration: underline;
}

.tab {
    cursor: pointer;
}

img {
    border-radius: 10px;
}

.row{
    background-color: white !important;
}

#tableContainer {
    position: relative;
    margin: auto;
    right: 10px;
    top: 18px;
    height: 465px;
    overflow-x: hidden;
    padding: 5px; 
    border: 2px solid black;
    border-radius: 10px;
}

//Desde aca me hago cargo de lo que este mal
.single-detail-columns{
    height: 630px;
    overflow-x: hidden;
}
